.btn {
  border-width: 2px;
}
body {
  font-family: Figtree;
}
.display-1 {
  font-family: 'Figtree', sans-serif;
  font-size: 6.625rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 8.28125rem;
}
.display-2 {
  font-family: 'Figtree', sans-serif;
  font-size: 3.1rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.875rem;
}
.display-4 {
  font-family: 'Figtree', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 2.25rem;
}
.display-5 {
  font-family: 'Figtree', sans-serif;
  font-size: 2rem;
  line-height: 1.3;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Figtree', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.40625rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 5.3rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.6375rem;
    font-size: calc( 2.96875rem + (6.625 - 2.96875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.96875rem + (6.625 - 2.96875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.48rem;
    font-size: calc( 1.7349999999999999rem + (3.1 - 1.7349999999999999) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7349999999999999rem + (3.1 - 1.7349999999999999) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.9rem;
    font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #facb1d !important;
}
.bg-success {
  background-color: #51d619 !important;
}
.bg-info {
  background-color: #3828ad !important;
}
.bg-warning {
  background-color: #a38000 !important;
}
.bg-danger {
  background-color: #000000 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #facb1d !important;
  border-color: #facb1d !important;
  color: #171301 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #bc9504 !important;
  border-color: #bc9504 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #171301 !important;
  background-color: #bc9504 !important;
  border-color: #bc9504 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #661ea8 !important;
  border-color: #661ea8 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #39115e !important;
  border-color: #39115e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #39115e !important;
  border-color: #39115e !important;
}
.btn-info,
.btn-info:active {
  background-color: #3828ad !important;
  border-color: #3828ad !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #211867 !important;
  border-color: #211867 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #211867 !important;
  border-color: #211867 !important;
}
.btn-success,
.btn-success:active {
  background-color: #51d619 !important;
  border-color: #51d619 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #348810 !important;
  border-color: #348810 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #348810 !important;
  border-color: #348810 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #a38000 !important;
  border-color: #a38000 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #4c3c00 !important;
  border-color: #4c3c00 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #4c3c00 !important;
  border-color: #4c3c00 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-white,
.btn-white:active {
  background-color: #f6f6ef !important;
  border-color: #f6f6ef !important;
  color: #939353 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #5c5c34 !important;
  background-color: #d7d7b8 !important;
  border-color: #d7d7b8 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #939353 !important;
  background-color: #d7d7b8 !important;
  border-color: #d7d7b8 !important;
}
.btn-black,
.btn-black:active {
  background-color: #181817 !important;
  border-color: #181817 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #facb1d;
  color: #facb1d;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #bc9504 !important;
  background-color: transparent!important;
  border-color: #bc9504 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #171301 !important;
  background-color: #facb1d !important;
  border-color: #facb1d !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #661ea8;
  color: #661ea8;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #39115e !important;
  background-color: transparent!important;
  border-color: #39115e !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #661ea8 !important;
  border-color: #661ea8 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #3828ad;
  color: #3828ad;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #211867 !important;
  background-color: transparent!important;
  border-color: #211867 !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #3828ad !important;
  border-color: #3828ad !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #51d619;
  color: #51d619;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #348810 !important;
  background-color: transparent!important;
  border-color: #348810 !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #51d619 !important;
  border-color: #51d619 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #a38000;
  color: #a38000;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #4c3c00 !important;
  background-color: transparent!important;
  border-color: #4c3c00 !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #a38000 !important;
  border-color: #a38000 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #000000;
  color: #000000;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #181817;
  color: #181817;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #181817 !important;
  border-color: #181817 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #f6f6ef;
  color: #f6f6ef;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #d7d7b8 !important;
  background-color: transparent!important;
  border-color: #d7d7b8 !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #939353 !important;
  background-color: #f6f6ef !important;
  border-color: #f6f6ef !important;
}
.text-primary {
  color: #facb1d !important;
}
.text-secondary {
  color: #661ea8 !important;
}
.text-success {
  color: #51d619 !important;
}
.text-info {
  color: #3828ad !important;
}
.text-warning {
  color: #a38000 !important;
}
.text-danger {
  color: #000000 !important;
}
.text-white {
  color: #f6f6ef !important;
}
.text-black {
  color: #181817 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #ad8904 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #310f51 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #2e7b0e !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1d155a !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #3d3000 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #000000 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #d1d1ae !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #facb1d;
}
.nav-tabs .nav-link:not(.active) {
  color: #181817;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #3828ad;
}
.alert-warning {
  background-color: #a38000;
}
.alert-danger {
  background-color: #000000;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #facb1d;
  border-color: #facb1d;
  color: #302601;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #facb1d;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fef9e5;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d3f8c3;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #8275df;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffd023;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b3b3b3;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Figtree', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 2.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #facb1d !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Figtree', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 2.25rem;
}
blockquote {
  border-color: #facb1d;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #facb1d;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #facb1d;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #facb1d;
  border-bottom-color: #facb1d;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #facb1d !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #661ea8 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23facb1d' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition-duration: .3s;
  transition: 0.3s;
}
a:hover {
  background-image: none !important;
}
.container {
  max-width: 1914px;
  padding: 0 2rem;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .container {
    padding: 0 1.5rem;
  }
}
@media (max-width: 575px) {
  .container {
    padding: 0 1rem;
  }
}
.row {
  margin-left: -1rem;
  margin-right: -1rem;
  justify-content: center;
}
.row > [class*="col"] {
  padding-left: 1rem;
  padding-right: 1rem;
}
.mbr-section-btn .btn {
  min-width: 80px;
  min-height: 60px;
  padding: 26px 42px;
  border-radius: 10em !important;
  border-width: 1px;
  font-weight: 500;
  box-shadow: none !important;
}
@media (max-width: 575px) {
  .mbr-section-btn {
    width: 100%;
  }
  .mbr-section-btn .btn {
    width: 100%;
    min-width: auto !important;
  }
}
.mbr-section-btn .btn-white-outline:hover {
  background-color: #facb1d !important;
  border-color: #facb1d !important;
  color: #181817 !important;
}
.mbr-section-btn .btn-black-outline:hover {
  background-color: #181817 !important;
  border-color: #181817 !important;
  color: #facb1d !important;
}
.mbr-section-btn .btn-primary {
  color: #181817 !important;
}
.mbr-section-btn .btn-primary:hover {
  background-color: #181817 !important;
  border-color: #181817 !important;
  color: #facb1d !important;
}
b,
strong {
  font-weight: 900 !important;
}
body.scaled > .template .app-component > .app-component-content > section .mbr-fullscreen {
  min-height: 20vh !important;
  height: auto !important;
}
html:not(.is-main-interface) body[data-bs-padding-right]:not(.rounded-canvas) {
  overflow-y: visible !important;
  padding-right: 0 !important;
}
.cid-tus9D9f1ys .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-tus9D9f1ys .nav-item:focus,
.cid-tus9D9f1ys .nav-link:focus {
  outline: none;
}
.cid-tus9D9f1ys .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.3rem 1.5rem;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-tus9D9f1ys .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tus9D9f1ys .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-tus9D9f1ys .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-tus9D9f1ys .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-tus9D9f1ys .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tus9D9f1ys .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tus9D9f1ys .navbar {
  min-height: 77px;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-align-items: center;
  background: none;
  max-height: 100vh;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.cid-tus9D9f1ys .navbar .mbr-overlay {
  z-index: -1;
  transition: all 0.3s;
  background: #facb1d;
  background: linear-gradient(#000000, #facb1d);
}
.cid-tus9D9f1ys .navbar.opened .mbr-overlay {
  transition: all 0.3s;
  background: #facb1d !important;
  background: linear-gradient(#000000, #facb1d) !important;
}
.cid-tus9D9f1ys .navbar .dropdown-item {
  padding: 0.25rem 1.5rem;
}
.cid-tus9D9f1ys .navbar .navbar-collapse {
  width: 100%;
  -webkit-flex-basis: auto;
  flex-basis: auto;
  -webkit-justify-content: center;
  justify-content: center;
  z-index: 1;
  padding: 0.5rem 1rem;
}
@media (max-width: 991px) {
  .cid-tus9D9f1ys .navbar .navbar-collapse {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
}
.cid-tus9D9f1ys .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-tus9D9f1ys .navbar.collapsed.opened .navbar-collapse {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.cid-tus9D9f1ys .navbar.collapsed .navbar-collapse.show,
.cid-tus9D9f1ys .navbar.collapsed .navbar-collapse.collapsing {
  transition: all 0.3s linear;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-tus9D9f1ys .navbar.collapsed .navbar-collapse.show .brand-container,
.cid-tus9D9f1ys .navbar.collapsed .navbar-collapse.collapsing .brand-container {
  -webkit-order: -1;
  order: -1;
}
.cid-tus9D9f1ys .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-tus9D9f1ys .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tus9D9f1ys .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tus9D9f1ys .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
  margin-left: 0.25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-tus9D9f1ys .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tus9D9f1ys .navbar.collapsed .navbar-buttons {
  margin: 0;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-tus9D9f1ys .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tus9D9f1ys .navbar.collapsed .right-menu,
.cid-tus9D9f1ys .navbar.collapsed .left-menu {
  -webkit-flex-basis: auto;
  flex-basis: auto;
}
@media (max-width: 991px) {
  .cid-tus9D9f1ys .navbar .navbar-collapse.show,
  .cid-tus9D9f1ys .navbar .navbar-collapse.collapsing {
    transition: all 0.3s linear;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-tus9D9f1ys .navbar .navbar-collapse.show .brand-container,
  .cid-tus9D9f1ys .navbar .navbar-collapse.collapsing .brand-container {
    -webkit-order: -1;
    order: -1;
  }
  .cid-tus9D9f1ys .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tus9D9f1ys .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-tus9D9f1ys .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tus9D9f1ys .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tus9D9f1ys .navbar .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
    margin-left: 0.25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-tus9D9f1ys .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-tus9D9f1ys .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tus9D9f1ys .navbar .navbar-buttons {
    margin: 0;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-tus9D9f1ys .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem;
    text-align: center;
  }
  .cid-tus9D9f1ys .navbar .right-menu,
  .cid-tus9D9f1ys .navbar .left-menu {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
}
.cid-tus9D9f1ys .navbar.navbar-short {
  min-height: 60px;
}
.cid-tus9D9f1ys .navbar.navbar-short .mbr-overlay {
  background: #facb1d !important;
  background: linear-gradient(#000000, #facb1d) !important;
}
.cid-tus9D9f1ys .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-tus9D9f1ys .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-tus9D9f1ys .navbar-brand {
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tus9D9f1ys .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tus9D9f1ys .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tus9D9f1ys .dropdown-item.active,
.cid-tus9D9f1ys .dropdown-item:active {
  background-color: transparent;
}
.cid-tus9D9f1ys .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tus9D9f1ys .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tus9D9f1ys .nav-dropdown .link.dropdown-toggle[aria-expanded='true'] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tus9D9f1ys .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #facb1d;
}
.cid-tus9D9f1ys .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tus9D9f1ys .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tus9D9f1ys ul.navbar-nav {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .cid-tus9D9f1ys ul.navbar-nav {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.cid-tus9D9f1ys .navbar-buttons {
  margin-left: auto;
}
.cid-tus9D9f1ys button.navbar-toggler {
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  margin: 1rem;
  -webkit-align-self: center;
  align-self: center;
}
.cid-tus9D9f1ys button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-tus9D9f1ys button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tus9D9f1ys button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tus9D9f1ys button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tus9D9f1ys button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tus9D9f1ys nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tus9D9f1ys nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.25s;
  width: 20px;
  right: -2px;
}
.cid-tus9D9f1ys nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all 0.25s;
  width: 20px;
  left: -2px;
}
.cid-tus9D9f1ys nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tus9D9f1ys a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-tus9D9f1ys .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tus9D9f1ys .right-menu,
.cid-tus9D9f1ys .left-menu {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
}
.cid-tus9D9f1ys .left-menu .navbar-nav {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-tus9D9f1ys .left-menu .navbar-nav ul {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-tus9D9f1ys .brand-container {
  padding: 0 2rem;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-tus9D9f1ys .menu-top {
  text-align: center;
  width: 100%;
  background-color: #000000;
  padding: 0.5rem 0;
}
.cid-tus9D9f1ys .full-link {
  width: 100%;
  font-size: 0;
  z-index: 2;
}
.cid-tus9D9f1ys .card-wrapper {
  z-index: 3;
}
.cid-tus9D9f1ys .popup-btn.card-wrapper {
  z-index: 1 !important;
}
@media (max-width: 991px) {
  .cid-tus9D9f1ys .navbar-collapse {
    padding-top: 0;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tus9D9f1ys .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tv1z21QPiM {
  padding-top: 10rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/jornada-do-corretor-de-imveis-8-2000x1125.png");
}
.cid-tv1z21QPiM .mbr-fallback-image.disabled {
  display: none;
}
.cid-tv1z21QPiM .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tv1z21QPiM .video-wrapper iframe {
  width: 100%;
}
.cid-tv1z21QPiM .mbr-section-title,
.cid-tv1z21QPiM .mbr-section-subtitle,
.cid-tv1z21QPiM .mbr-text {
  text-align: center;
}
.cid-tv1z21QPiM .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tv1z21QPiM .mbr-text {
  color: #ffffff;
}
.cid-tv1z21QPiM .mbr-section-title {
  color: #cfa303;
}
.cid-tv1eHy6X71 {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #000000;
}
.cid-tv1eHy6X71 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tv1eHy6X71 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tv1eHy6X71 .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tv1eHy6X71 .image-wrap img {
    display: block;
    margin: auto;
    width: 100%;
  }
}
.cid-tv1eHy6X71 .mbr-section-title {
  color: #cfa303;
}
.cid-tv1eHy6X71 .mbr-text,
.cid-tv1eHy6X71 .mbr-section-btn {
  color: #f6f6ef;
}
.cid-tw1uOOTRsk {
  padding-top: 3rem;
  padding-bottom: 7rem;
  background-color: #ffffff;
}
.cid-tw1uOOTRsk .mbr-fallback-image.disabled {
  display: none;
}
.cid-tw1uOOTRsk .mbr-section-subtitle {
  width: fit-content;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.cid-tw1uOOTRsk .mbr-section-subtitle:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 10%;
  width: 100%;
  height: 12px;
  background: #cfa303;
  z-index: -1;
}
.cid-tw1uOOTRsk img {
  border-radius: 1rem;
}
.cid-tw1uOOTRsk .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tw1uOOTRsk .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tw1uOOTRsk .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tw1uOOTRsk .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tw1uOOTRsk .mbr-section-title {
  color: #000000;
  text-align: center;
}
.cid-tw1uOOTRsk .mbr-section-subtitle,
.cid-tw1uOOTRsk .subtitle-wrap {
  color: #000000;
  text-align: center;
}
.cid-tw1uOOTRsk .mbr-text,
.cid-tw1uOOTRsk .mbr-section-btn {
  color: #000000;
  text-align: center;
}
.cid-tvWfyVqCBC {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #000000;
}
.cid-tvWfyVqCBC .mbr-fallback-image.disabled {
  display: none;
}
.cid-tvWfyVqCBC .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tvWfyVqCBC .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tvWfyVqCBC .row {
  flex-direction: row-reverse;
}
.cid-tvWfyVqCBC img {
  width: 100%;
}
.cid-tvWfyVqCBC .mbr-description {
  color: #ffffff;
}
.cid-tw1pkabR7g {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #000000;
}
.cid-tw1pkabR7g .mbr-fallback-image.disabled {
  display: none;
}
.cid-tw1pkabR7g .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tw1pkabR7g .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tw1pkabR7g .row {
  flex-direction: row-reverse;
}
.cid-tw1pkabR7g img {
  width: 100%;
}
.cid-tw1pkabR7g .mbr-description {
  color: #ffffff;
}
.cid-tw1q42LPvn {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #000000;
}
.cid-tw1q42LPvn .mbr-fallback-image.disabled {
  display: none;
}
.cid-tw1q42LPvn .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tw1q42LPvn .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tw1q42LPvn .row {
  flex-direction: row-reverse;
}
.cid-tw1q42LPvn img {
  width: 100%;
}
.cid-tw1q42LPvn .mbr-description {
  color: #ffffff;
}
.cid-tw1rc0rgxE {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #000000;
}
.cid-tw1rc0rgxE .mbr-fallback-image.disabled {
  display: none;
}
.cid-tw1rc0rgxE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tw1rc0rgxE .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tw1rc0rgxE .row {
  flex-direction: row-reverse;
}
.cid-tw1rc0rgxE img {
  width: 100%;
}
.cid-tw1rc0rgxE .mbr-description {
  color: #ffffff;
}
.cid-tw1rNGcz7E {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #000000;
}
.cid-tw1rNGcz7E .mbr-fallback-image.disabled {
  display: none;
}
.cid-tw1rNGcz7E .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tw1rNGcz7E .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tw1rNGcz7E .row {
  flex-direction: row-reverse;
}
.cid-tw1rNGcz7E img {
  width: 100%;
}
.cid-tw1rNGcz7E .mbr-description {
  color: #ffffff;
}
.cid-tw1srsoALC {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #000000;
}
.cid-tw1srsoALC .mbr-fallback-image.disabled {
  display: none;
}
.cid-tw1srsoALC .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tw1srsoALC .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tw1srsoALC .row {
  flex-direction: row-reverse;
}
.cid-tw1srsoALC img {
  width: 100%;
}
.cid-tw1srsoALC .mbr-description {
  color: #ffffff;
}
.cid-tw1t0cVODs {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #000000;
}
.cid-tw1t0cVODs .mbr-fallback-image.disabled {
  display: none;
}
.cid-tw1t0cVODs .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tw1t0cVODs .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tw1t0cVODs .row {
  flex-direction: row-reverse;
}
.cid-tw1t0cVODs img {
  width: 100%;
}
.cid-tw1t0cVODs .mbr-description {
  color: #ffffff;
}
.cid-tw1tqDQkQE {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #000000;
}
.cid-tw1tqDQkQE .mbr-fallback-image.disabled {
  display: none;
}
.cid-tw1tqDQkQE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tw1tqDQkQE .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tw1tqDQkQE .row {
  flex-direction: row-reverse;
}
.cid-tw1tqDQkQE img {
  width: 100%;
}
.cid-tw1tqDQkQE .mbr-description {
  color: #ffffff;
}
.cid-tv1pXt8EcO {
  padding-top: 60px;
  padding-bottom: 15px;
  background-image: url("../../../assets/images/jornada-do-corretor-de-imveis-6-2000x1125.png");
}
.cid-tv1pXt8EcO .media-content .btn-bgr {
  z-index: 0;
}
.cid-tv1pXt8EcO .mbr-overlay {
  background: linear-gradient(90deg, #21b968, #1ec5bf);
}
.cid-tv1pXt8EcO h3 {
  color: #000000;
  font-weight: 300;
}
.cid-tv1pXt8EcO p {
  color: #464646;
}
.cid-tv1pXt8EcO h2 {
  color: #000000;
}
.cid-tv1pXt8EcO .media-content {
  padding-right: 1.5rem;
  padding-left: 0;
}
.cid-tv1pXt8EcO .mbr-section-btn {
  margin-left: -0.8rem;
}
.cid-tv1pXt8EcO .mbr-figure {
  padding-right: 1rem;
}
@media (min-width: 500px) {
  .cid-tv1pXt8EcO .mbr-figure {
    padding-left: 2rem;
  }
}
@media (max-width: 499px) {
  .cid-tv1pXt8EcO .mbr-figure {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 1rem;
  }
}
@media (max-width: 991px) {
  .cid-tv1pXt8EcO .mbr-figure {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  .cid-tv1pXt8EcO .mbr-text {
    text-align: center;
  }
}
.cid-tv1pXt8EcO .mbr-fallback-image.disabled {
  display: none;
}
.cid-tv1pXt8EcO .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
